.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.fx-icon {
  order: -1;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  transition: .3s linear opacity;
}

.fx-input {
  display: block;
  flex-grow: 1;
  margin: 0 5px;
  line-height: 2;
  font-size: 16px;
  border: none;
  outline: none;

  &:focus + .fx-icon {
    opacity: 0.6;
  }
}
