@import "./fx-input";
@import "./grid";

html {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
.main {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  position: relative;
}
